rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // USERS
    // Users can read anyone's profile
    // Users can only create and update their own profile
    match /users/{userId} {
      allow read;
      allow create, update: if isSignedIn() && isOwner(userId);
    }

    // LISTINGS
    match /listings/{listingId} {
      // Anyone can view listings
      allow read;
      // Users can create listings for themselves
      allow create: if isSignedIn() 
                    && request.resource.data.userId == request.auth.uid
                    && request.resource.data.description.size() < 5000;
      // The owner of a listing can update or delete it
      allow update: if isSignedIn() 
                    && isOwner(resource.data.userId)
                    && request.resource.data.description.size() < 5000;
      allow delete: if isSignedIn() && isOwner(resource.data.userId);
    }

    // BOOKINGS
    match /bookings/{bookingId} {
       function getListing() {
        return get(/databases/$(database)/documents/listings/$(request.resource.data.listingId)).data;
      }
      
      // Guest or Host can read the booking
      allow read: if isSignedIn() && (isOwner(resource.data.guestId) || isOwner(resource.data.hostId));
      
      // A guest can create a booking for themself
      allow create: if isSignedIn()
                    && isOwner(request.resource.data.guestId)
                    && request.resource.data.hostId == getListing().userId
                    // A user cannot book their own listing
                    && request.resource.data.guestId != request.resource.data.hostId;
    }
  }
}
